spring:
  main:
    allow-bean-definition-overriding: true

  liquibase:
    parameters:
      TABLE_NAME_CONFIG: t_config
      TABLE_NAME_ROUTE: t_route
  datasource:
    url: jdbc:mysql://localhost:3306/config-server?useUnicode=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver