spring:
  liquibase:
    enabled: true
    default-schema: ${DB_SCHEMA:config-server}
    change-log: classpath*:db/changelog/master.xml
    parameters:
      TABLE_NAME_CONFIG: ${TABLE_NAME_CONFIG:sys_config}
      TABLE_NAME_ROUTE: ${TABLE_NAME_ROUTE:sys_route}
  main:
    allow-bean-definition-overriding: true
  data:
    redis:
      database: ${REDIS_DATABASE:7}
      host: ${REDIS_HOST:localhost}
      password: ${REDIS_PASSWORD:}
      port: ${REDIS_PORT:6379}
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${spring.liquibase.default-schema}?${DB_URL_PARAMS:useUnicode=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF8&useSSL=false&allowPublicKeyRetrieval=true}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 1
      maximum-pool-size: 10
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto
      column-format: "`%s`"  # 给所有字段加上反引号避免保留字
      insert-strategy: not_null
      update-strategy: not_null
  mapper-locations: classpath*:/mapper/**/*.xml
config:
  admin:
    ui:
      enabled: false
      public-path: "" # 默认为空，生产环境可配置为 /api/config 等
